@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Raleway", serif;
  font-weight: 500;
}

@import "tailwindcss";
